@{
    ViewData["Title"] = "Home Page";
}
@model List<WeatherDataApp.Models.WeatherInfo>

<h2>Weather Data for Selected Cities</h2>
<table>
    <thead>
        <tr>
            <th>City</th>
            <th>Temperature (°C)</th>
            <th>Humidity (%)</th>
            <th>Condition</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Location.Name</td>
                <td>@item.Current.Temp_C </td>
                <td>@item.Current.Humidity</td>
                <td>@item.Current.Condition.Text</td>
                 <td>
                    <img src="https:@item.Current.Condition.Icon" alt="Weather Icon" />
                </td>
            </tr>
        }
    </tbody>
</table>